
h3{
    text-align: center;
}
.container{
    border-color:rgb(226, 203, 221);
    border-style: solid;


}

.lista{
    border-color:rgb(226, 203, 221);
    border-style: solid;
    padding:2px;
    margin: 5px;
}

.total{
   
    padding-left:50px;
    margin-left:  20px;
    text-align: center;
    font-weight: bold ;
}
.btn-car{
    display: flex;;
    align-items:end;
    justify-content: center;
    margin-bottom: 10px;
   
}


.btn{
    margin:5px;
}
.trash{
    margin: 10Px;
}