<div class="container">
<div class="about-container">
    <h4>ABOUT</h4>
<p>Desde sus orígenes en Argentina en 1992, Boho Style se distinguió instantáneamente por crear diseños vanguardistas e innovadores. Hoy en día la marca impone tendencia y se ha convertido en sinónimo de tecnología, calidad y estilo.

    Su directora creativa lidera un equipo especializado que se inspira en una mujer fuerte, natural, femenina y sexy. Crean cada colección dándole principal importancia a la originalidad de las piezas, los detalles, la innovación y la elección de materiales nobles.</p>
</div>
<div class="about-container">
    <h4>CONTACTO</h4>
<ul class="list-group">
    <li class="list-group-item">Atencion telfonica (Lunes a Viernes de 9 a 18 hs)
        <div>Tel. +54 (011) 4717-3898</div>
    </li>
    <li class="list-group-item">WhatsApp
    <div>Cel. +54 9 (011) 5588-7948</div>
    </li>
    
    <li class="list-group-item">Mail
    <div>ventas*bohoStyle.com.ar</div>
    </li>
  </ul>



</div>
</div>